.main {
    width: 100%;
}

#banner {
    padding: 2em 0;
    width: 100%;
}

.card {
    margin-top: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.heading-photo-container {
    width: 100%;
}

#photo {
    width:200px;
    height:200px;
    margin-bottom: 1rem;
}

.header-heading {
    padding-top:10px;
}
.banner-section {
    margin-top:2.5rem;
    background-image: url("../../assets/images/man-g8d75c5340_1920.jpg");
}

.banner-about-section {
    height:400px;
    padding-top:150px;
    color: #fff;
    font-size:1.25em;
    margin: 0 auto;
}